@model IEnumerable<aicupper.models.judge>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AICupperAccountID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JudgeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KnownAs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEnabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AICupperAccountID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JudgeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KnownAs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnabled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JudgeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JudgeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JudgeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
